.filter__low-saturate {
  filter: saturate(30%);
}

.filter__high-contrast {
  filter: contrast(200%);
}

.filter__grayscale {
  filter: grayscale(100%);
}

.filter__hue-rotate {
  filter: hue-rotate(90deg);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__blur {
  filter: blur(5px);
}

.filter__invert-bright {
  filter: invert(100%) brightness(200%) drop-shadow(4px 4px 8px black);
}
