/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start: 100px;
  font-family: var(--main-font), sans-serif;
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  -webkit-padding-before: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-normal);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: var(--header-height);
  margin-inline: auto;
  margin-block-end: 98px;
  font-family: var(--font-accent), fantasy;
  -webkit-margin-after: 98px;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  text-transform: uppercase;
}

.card__section {
  display: flex;
  justify-content: center;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  width: var(--card-width);
  border: 2px solid #000;
  background-color: var(--card-background);
}

.card__header {
  border-block-end: 2px solid #000;
  padding: 4px 10px;
  -webkit-border-after: 2px solid #000;
}

.card__title {
  font-size: 18px;
  font-variation-settings: var(--main-font-bold);
}

.card__image {
  position: relative;
}

.card__image-label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
  inset-block-start: 26px;
  inset-inline-end: 24px;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__image img {
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid #000;
  padding: 25px;
  -webkit-border-before: 2px solid #000;
}

.card__body p {
  font-size: 18px;
  line-height: 21px;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  padding: 0 25px 24.5px;
}

.button {
  position: relative;
  border: 2px solid #000;
  overflow-x: hidden;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.card__icon-button {
  margin-block-start: 1px;
  border: 2px solid #fff;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  -webkit-margin-before: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button {
  margin-block-start: 1px;
  padding: 11.9px 0 10px;
  -webkit-margin-before: 1px;
  inline-size: 130px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px 0 100px;
}

.button__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  background-color: #fff;
}

.button__icon {
  inline-size: 21px;
  block-size: 21px;
  color: #fff;
  mix-blend-mode: difference;
}

.modal {
  width: clamp(21.313rem, 21.048rem + 1.127vi, 22.063rem);
  padding: 30px;
}

.modal::-webkit-backdrop {
  opacity: 0.75;
  background: #000;
}

.modal::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal__container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
  -webkit-margin-after: 30px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__text {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button__modal {
  padding: 10px;
  text-transform: uppercase;
  inline-size: 100%;
  max-inline-size: 100%;
}

@media (width <= 375px) {
  .header {
    margin-block-end: 101px;
    -webkit-margin-after: 101px;
  }

  .button__footer {
    flex-direction: column;
  }

  .button__icon {
    inline-size: 29px;
    block-size: 29px;
  }
}
